{% extends 'abilitys/base.html' %}
{% load static %}

{% block content %}
<div class="project-detail">
    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image2">
    <div class="project-info">
        <h2>{{ project.title }}</h2>
        <p>Date: {{ project.date_completed }}</p>
        <p>{{ project.description }}</p>
         {% if user.is_authenticated %}
            <a href="{{ project.download_link }}" class="download-link" target="_blank">Download</a>
        {% else %}
            <p><a href="{% url 'projects:login' %}" class="login-link">Login</a> to download the project!</p>
        {% endif %}
    </div>
    <a href="{% url 'projects:project_list' %}" class="back-button">Back</a>
</div>
{% endblock %}


